$primary: #7d2f97;

// For the updates and news flash cards
.overlay {
  margin-top: -25px;
}

// To set a tiny margin at top of page
section {
  scroll-margin-top: 5px;
}

// Font
.title {
  font-family: "Kanit", sans-serif;
}

// hide navbar
.nav--hidden {
  transform: translateY(-500px);
}
.navbar {
  transition: transform 0.5s ease-in-out;
}

// Modify Navbar active colour
.nav-link.active,
.nav-link:hover {
  color: #e38eff !important;
}

// Modify Navbar link colour
a.nav-link {
  color: #aa68c0;
}

// Modify Nav burger
.navbar-toggler {
  width: 40px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

// remove bootstrap Nav icon properties
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon :focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

// Make new burger
.navbar-toggler span {
  margin: 0;
  padding: 0;
}

// create bars for new burger
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $primary;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

// State when navigation is clicked
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

// State when navbar is collapsed
.navbar-toggler.collapsed .top-bar {
  margin-top: -25px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 25px;
  transform: rotate(0deg);
}

// colour of 3 lines
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    90deg,
    rgba(124, 45, 150, 1) 0%,
    rgba(67, 45, 74, 1) 100%
  );
}

// Scale up the contact cards on hover
.contact-card {
  transition: 0.25s ease-in-out;
}

.contact-card:hover {
  transform: scale(1.05);
}
