$primary: #7d2f97;

// For the updates and news flash cards
.overlay {
  margin-top: -25px;
}

// To set a tiny margin at top of page
section {
  scroll-margin-top: 5px;
}

// Font
.title {
  font-family: "Kanit", sans-serif;
}

// Scale up the contact cards on hover
.contact-card {
  transition: 0.25s ease-in-out;
}

.contact-card:hover {
  transform: scale(1.05);
}
