$primary: #7c2d96;

.overlay {
  margin-top: -25px;
}
section {
  scroll-margin-top: 5.5rem;
}

.title {
  font-family: "Kanit", sans-serif;
}
.nav--hidden {
  transform: translateY(-500px);
}
.navbar {
  transition: transform 0.5s;
}
